[tool.black]
# Simple, clean code formatting
line-length = 88
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.git
  | \.venv
  | migrations
  | alembic/versions
)/
'''

[tool.isort]
# Clean import sorting
profile = "black"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88
skip_glob = ["migrations/*", "alembic/versions/*"] 